node_modules
*.iml
.idea
elm-stuff
.cache
*.log
dist
.parcel-cache
.direnv
.coverage
# Yarn 3 zeroinstall
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
